body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    /* 不显示x轴的滚动条 */
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    /* 去掉ul自带的margin和padding */
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.goback {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;
    font-size: 28px;
    font-weight: 700;
    background: rgba(0, 0, 0, .3);
}

.search-index {
    display: flex;
    /* 固定定位和父级没有关系，他以屏幕为准 */
    position: fixed;
    top: 0;
    /* left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%);*/
    /* 固定的盒子应该有宽度 */
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

.search {
    position: relative;
    flex: 1;
    font-size: 12px;
    color: #666;
    /* 26px-2px   因为border-box ，要减去边框*/
    line-height: 24px;
    padding-left: 25px;
    height: 26px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    /* box-shadow:水平 垂直 模糊程度 颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.search::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    color: #2eaae0;
    text-align: center;
}

.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    /* margin: 上 左右 下 */
    margin: 4px auto -2px;
}

.focus {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
}

.focus img {
    width: 100%;
}

.focus ul {
    overflow: hidden;
    width: 500%;
    margin-left: -100%;
}

.focus ul li {
    float: left;
    width: 20%;
}

.focus ol {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.focus ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    list-style: none;
    border-radius: 2px;
    margin: 2px;
    transition: all .3s;
}

.focus ol .current {
    width: 15px;
}

.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    /* 单行侧轴样式 */
    align-items: center;
    font-size: 12px;
}

.local-nav-icon {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li:nth-child(2) .local-nav-icon {
    background: url(../images/localnav_bg.png) no-repeat 0 -32px;
    background-size: 32px auto;
}

.local-nav li:nth-child(3) .local-nav-icon {
    background: url(../images/localnav_bg.png) no-repeat 0 -64px;
    background-size: 32px auto;
}

.local-nav li:nth-child(4) .local-nav-icon {
    background: url(../images/localnav_bg.png) no-repeat 0 -96px;
    background-size: 32px auto;
}

.local-nav li:nth-child(5) .local-nav-icon {
    background: url(../images/localnav_bg.png) no-repeat 0 -128px;
    background-size: 32px auto;
}

nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

.nav-common {
    display: flex;
    height: 88px;
    background-color: pink;
}

.nav-common:nth-child(1) {
    /* 必须加-webkit-前缀 */
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}

.nav-common:nth-child(2) {
    /* 必须加-webkit-前缀 */
    background: -webkit-linear-gradient(left, #4890ED, #53BCED);
}

.nav-common:nth-child(3) {
    /* 必须加-webkit-前缀 */
    background: -webkit-linear-gradient(left, #34C2A9, #6cd559);
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat center bottom;
    background-size: 121px auto;
}


/* 选择前面两个元素 */

.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.subnav-entry {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.subnav-entry li {
    /* flex可以写百分比 */
    /* 占比20% */
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry-icon {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}

.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    /* 因为字不要显示 */
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) 0 -20px;
    background-size: 79px;
}

.more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.more::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.row a:last-child {
    border-left: 1px solid #eee;
}

.row a img {
    width: 100%;
}